<h1 class="mb-0">
  = meta.title
</h1>

<div class="mb-2">
  <small class="text-muted">
    = "Published: " + meta.publication_time.to_s
  </small>
</div>

markdown:
  **TODO**: write an introduction.

  #### First Past The Post

  Imagine a standard US election for a member of the House of
  Representatives. Multiple candidates can run for the single seat in
  the congressional district. The winner is the single candidate who
  receives the greatest number of votes.

  45% of votes are for Markov, 40% of votes are for Curie, and 15% of
  votes are for Gizmo. Markov wins the election and is elected
  congressperson. This happens even though fewer than 50% of voters
  voted for Markov.

  This kind of electoral system is called *First Past The Post*
  (abbreviated FPTP). In a FPTP system, the winner is the candidate who
  has received the *plurality* of the votes (the greatest number). It
  doesn't matter whether the winner has received a *majority* of the
  votes (that is, more than 50% of the votes cast).

  #### Wasted Votes, Voter Regret, Spoilers

  We might (cruelly) say that the voters for Gizmo have "wasted" their
  votes. They did not vote for either of the top-two candidates, so the
  Gizmo voters neither increased nor decreased Markov's margin of
  victory. In a sense, the Gizmo voters' participation was superfluous
  to the final result of the election.

  Perhaps the voters for Gizmo would have preferred that Curie be
  elected over Markov. For instance: perhaps Markov and Curie are right
  and left candidates, while Gizmo is a far-left candidate. The voters
  for Gizmo may *regret* their vote and wish that they had voted for
  Curie instead.

  If Gizmo's voters were able to switch their votes to Curie, Curie
  would win 55%-to-45%. Because Gizmo has pulled away enough voters from
  Curie so that she is in second-place (rather than the winner), we call
  Gizmo a *spoiler* candidate.

  The possibility for voter regret and spoiler candidates is a negative
  attribute of FPTP.

  #### Two-Round Systems

  Some electoral systems try to address this problem by using the
  *two-round* electoral system. Under this system, if no candidate
  receives a majority, then a *second* round is run. The second round
  consists of only the top two candidates from the first round.

  In our example, since neither Markov, Curie, nor Gizmo received a
  majority (more than 50% of votes), a second round would be run. The
  top two candidates in the first round were Markov and Curie, so they
  are selected for the second round. Presuming that the voters for Gizmo
  prefer Curie to Markov, Curie will win 55%-to-45%. Curie wins!

  The two round system tends to reduce "wasted" votes. Every vote in the
  second round either increases or decreases the winner's margin of
  victory -- no second round vote is wasted. Effectively, the two round
  system gives every voter a chance to change their vote to one of the
  top two candidates.

  A single third-party candidate cannot act as a spoiler in the two
  round system, since the potential spoiler is eliminated before the
  final second round. In a strongly two-party system (like in America),
  it is difficult for even multiple third-party candidates to spoil a
  two round election. We shall see, however, that spoiling is still
  possible if there is a strong third party!

  The two-round system is very commonly used throughout the world. It is
  almost universally used for electing the president of a country.
  France is the classic example.

  Most countries do not use single-member legislative districts at all,
  so neither FPTP nor two round systems are applicable. In those
  countries with single-member districts, FPTP is the more common
  option. However, France does elect its National Assembly members using
  the two-round system.

  #### Automating A Two Round System

  If there is no first-round majority winner, a second round wil have to
  be held. This means the electorate must come out on a second day to
  vote in a second election! Could we somehow streamline the two round
  system by eliminating the second round?

  The simplest solution is this: ask each voter to *rank* all candidates
  on the ballot. We then count all the first-rank votes. If there is a
  majority winner then they are elected and we are done.

  Otherwise we eliminate all but the top two candidates. In our example,
  Gizmo would be eliminated, since they are ranked first on only 15% of
  ballots. We then recount each ballot for the more preferred of the two
  remaining candidates. In our example, votes for Gizmo are
  "transferred" to Curie, who the Gizmo voters have ranked second.

  This system is called *contingent voting*. It is simply an
  "automation" of a standard two round system. I am not aware that
  contingent voting is used anywhere. That is because a better
  alternative exists.

  #### The Problem With Two Rounds

  **TODO**: Rewrite with explicit reference to multiple candidates of
  spoilers with a strong third party.

  What if a candidate would win every head-to-head matchup of
  candidates, but is *not* amongst the top-two candidates if you only
  consider voters' first choice? In such a scenario, both the two round
  and contingent voting systems would "prematurely" jump to eliminating
  all but the top-two first-choice candidates. This would be a "mistake"
  because an eliminated candidate would defeat either of the "top-two"
  candidates in a head-to-head election.

  A fanciful scenario? Consider the 2002 French presidential election.
  In the first round the Gaullist (right) candidate Chirac won ~20% of
  the vote. The far-right candidate Le Pen won 16.86%. The Socialist
  candidate Jospin came third with 16.18% of the vote and was
  eliminated. Various less popular candidates of the left won a total of
  28.59% of the first-round vote, but all these were also eliminated.

  Chirac beat Le Pen 82%-to-18% in the second round (one campaign poster
  read: "vote for the crook, not the fascist"). Had Jospin entered the
  second round instead of Le Pen, who knows whether Jospin would have
  defeated Chirac? It is probable that the French electorate would have
  preferred Jospin to Chirac and indeed *every* other presidential
  candidate.

  If so, it seems undesirable that the two round system did not elect
  Jospin.

  #### Voter Regret, Head-To-Head Elections, and Condorcet Winners

  **TODO**: Reconsider. I haven't reviewed much past here.

  Let us say that voters for Gizmo prefer Curie over Markov. Perhaps
  Markov and Gizmo represent political extremes, while Curie is a
  centrist candidate. Given the vote breakdown, Gizmo voters would have
  done better to vote for Curie rather than Gizmo. By switching their
  vote they could put Curie in the lead 55%-to-45%.

  It feels undesirable that Gizmo voters *regret* their vote for Gizmo
  (wish they could change their vote to Curie). It gets worse. If Curie
  represents the political center, then Markov voters probably prefer
  Curie to Gizmo. In that case, Curie would win a head-to-head race
  against Gizmo 80%-to-20%.

  Curie would beat *every other candidate* if she were in a head-to-head
  race with them. We call Curie the *Condorcet winner* of the election.
  There can be only (at most) one Condorcet winner in an election.

  Speaking loosely/imprecisely, the Condorcet winner (when there is
  one), is the single candidate that "a majority" agrees is better than
  every other candidate. It seems a shame that FPTP can fail to elect
  the Condorcet winner (as in our example).

  #### Instant Runoff Voting

  I now want to introduce you to an improved version of contingent
  voting: *instant runoff voting* (IRV). It is the system that is used
  to elect the mayor of San Francisco. It is used to elect members of
  the lower house of Australia. Maine will use IRV in 2020 when it votes
  for president.

  When there are $N$ candidates, IRV does not eliminate $N-2$ candidates
  all in one go. IRV runs $N-1$ rounds, eliminating candidates one at a
  time. In each round, each voter's ballot is counted toward their
  top-ranked candidate, excluding candidates who have previously been
  eliminated. At the end of the round, the candidate with the fewest
  number of votes is eliminated. Another round is run, and a next
  candidate is eliminated.

  The process ends when a candidate receives a majority (more than 50%)
  of votes. This is the winner.

  #### Instant Runoff Voting: An Example

  We should first note: when there are exactly three candidates, instant
  runoff voting is identical to the two round system.

  Let us say that five candidates run for mayor in San Francisco. Alice
  receives 30% of first-choice votes, Bob receives 25% of first-choice
  votes, Candice receives 20% of first-choice votes, David receives 15%
  of votes, and Eve receives 10% of first-choice votes.

  If San Francisco used the FPTP method, Alice would win. If San
  Francisco used the two round system, all but Alice and Bob would be
  eliminated. Depending on how first-choice supporters of Candice,
  David, and Eve ranked Alice and Bob, either could candidate could win.

  Using IRV, Eve is eliminated first, because she has received the
  fewest number of first-choice votes. Let's imagine that David's
  platform is very similar to Eve's. Everyone who ranked Eve first has
  ranked David *second*. Thus, after elimination of Eve, all her
  supporters' votes transfer to David. His share of the vote increases
  to 25%.

  Still, no one has a majority of votes. Candice is the next candidate
  eliminated. Of her supporters, let us imagine that some prefer Alice,
  others prefer Bob, but that David is most popular amongst Candice's
  supporters. Lets say that Candice's supporters splice 5/5/10 for
  Alice/Bob/David.

  Now Alice has 35% of the vote, Bob has 30% of the vote, and David has
  35% of the vote. We eliminate Bob next. Let us say that his votes
  transfer 5% to Alice, and 25% to David. Note that some voters who had
  ranked Candice first and Bob second are having their votes transferred
  a *second time*!

  Now that there are only two candidates remaining, the vote tally in
  the final round is 40% for Alice and 60% for David. David wins!

  #### IRV Reduces The "Spoiler Effect"

  IRV reduces the "spoiler effect" in close elections. Votes for a
  marginal candidate will be redistributed when the candidate is
  eliminated. For example: if IRV had been used in the 2000 presidential
  election, votes for Ralph Nader would have (most likely) been
  redistributed to Al Gore. Al Gore would likely have defeated George W.
  Bush.

  In a cruel sense, votes for Nader were "wasted" in Florida, because a
  vote for Nader neither increased nor decreased the victory margin for
  the candidate with the plurality (Bush). Under IRV, votes are never
  wasted in this way, because a vote is always transferred to one of the
  two final candidates. IRV typically doesn't penalize a voter to rank
  their first choice according to their conscience. This is good.

  On the other hand, I would not want to overdramatize the failure of
  FPTP. Voters can identify the top two general election candidates
  easily in the two party system that prevails in the United States. It
  is a simple (and common) strategy for voters to vote for one of the
  top two candidates even if these are not their first choice.

  Lastly, in the American system, third party candidates are marginal
  enough that they attract relatively few votes. Thus third party
  candidates can "spoil" only elections that were already very close
  (like the 2000 election in Florida). The narrower the margin of
  support between the two top candidates, the less the spoiler effect
  "subverts the will of the people," since there is not in fact any
  consensus on a best candidate.

  #### IRV May Not Particularly Help Centrist Candidates

  Where a polarized two-party system prevails, instant runoff voting
  does not significantly help centrist candidates. Imagine a polarized
  country where diametrically opposed candidates A and B both command
  40% first-rank support. Centrist voters can vote for candidate C, but
  because C is not popular enough to win more first-rank votes, they
  will be the first eliminated under IRV. One of the two polarizing
  candidates (A or B) will be elected (after C's votes are
  redistributed).

  IRV *might* incentivize candidates A and B to appeal to supporters of
  candidate C. It *might* encourage parties A and B to nominate
  candidates who will win C's votes (after redistribution). But (in
  theory) the two party FPTP system already encourages parties to choose
  candidates who appeal to the center.

  In conclusion: I would not expect IRV to greatly help American
  candidates with broad but tepid support. On the other hand, IRV
  wouldn't *harm* centrists/compromise candidates.

  #### IRV Could Help When There Are Many Candidates

  I think the real value of instant runoff voting is in elections where
  there are a large number of candidates, many of whom share supporters.

  We already discussed the 2002 French presidential election. Let's
  consider a second, hypothetical scenario. Imagine a world where there
  are 12 American primary contestants, 11 of whom are near-facsimiles of
  each other. A 12th candidate is named Donald Trump. In this crazy
  world, IRV is not used in presidential primaries. You want to vote
  against Donald Trump. Who do you vote for?

  Do you vote for the candidate you most like? That could help your
  favorite candidate build visibility and momentum, even if they lose
  your state's primary (maybe even getting no delegates).

  Important question: is your state a winner-take-all primary? If so,
  you probably should vote for the non-Trump candidate with the
  strongest support. Without the other candidates' voters banding
  together, Donald Trump will win all the delegates in your state.

  But how can you identify the non-Trump consensus candidate? The more
  similar the leading non-Trump candidates are, the harder it will be
  for never-Trump voters to pick and rally around just one of those
  candidates. Also, candidates have a strong personal incentive
  (professional advancement) not to withdraw unless it is obvious they
  cannot win.

  At least one analysis suggests that [IRV flips most Donald Trump
  Primary Victories][trump-results].

  [trump-results]: https://www.fairvote.org/simulating_instant_runoff_flips_most_donald_trump_primary_victories

  #### Conclusions

  1. IRV has some advantages (and no obvious disadvantages) when
     compared with FPTP.
  1. Introducing IRV probably wouldn't fundamentally change the two
     party dynamic that prevails in American general elections. IRV
     would eliminate third party candidates and the election would
     mostly reduce to the two main parties (as is already the case).
  1. IRV would presumably reduce the spoiler effect in closely contested
     general elections. This is nice, but not vital. Third-party
     spoilers in the US tend to have low support, so only already
     contentious FPTP elections can be spoiled.
  1. Introducing IRV could reduce the probability that extremist
     candidates are selected in *primary* elections (where there can be
     many similar candidates).

  #### Future Discussion

  There are many other kinds of electoral systems. In the future, I'd
  like to review/consider other systems that achieve *proportional*
  outcomes. That is: if 40% of the electorate support party A and 60%
  support party B, then a *multi-member district* of *ten* seats will
  elect 4 members of party A and 6 members of party B.

  Examples systems that achieve this are:

  1. Party-List Proportional Representation (most legislatures are
     elected this way),
  1. Single Transferrable Vote (Irish legislature elected this way)

  countries organize their federal government. For example: did you know
  On a related note: I'd like to consider and review ways that other
  that most European countries are run by a coalition government? I'd
  like to talk about how that works, and what the advantages of such
  systems might be.

  **TODO**: Why didn't voters focus on one non-Trump candidate in the
  primaries?
