<h1 class="mb-0">
  = meta.title
</h1>

<div class="mb-2">
  <small class="text-muted">
    = "Published: " + meta.publication_time.to_s
  </small>
</div>

markdown:
  **TODO**: write an introduction.

  #### Outline

  1. We will learn how the *first-past-the-post* electoral system
     works.
  1. We will learn about the phenomena of *wasted votes*, *voter
     regret*, and *spoiler candidates*.
  1. We will learn how the *two-round* electoral system works and
     where is is used. We will learn how it is less susceptible to
     wastage, regret, and spoiling.
  1. We will see how spoiling can still occur in the two-round
     system. We will examine a historical example.
  1. We will learn how a multi-round system called *instant runoff
     voting* solves the spoiling problem that occurs in a two-round
     system. We will learn about countries and cities where instant
     runoff voting is used.
  1. We will observe a key difference in US general and primary
     elections: US general elections are bipolar, while US primary
     elections feature fragmented support across many candidates.
  1. We will see that US primary elections are thus particularly
     susceptible to vote wastage and spoiling. We will see that
     introducing IRV could significantly reduce wastage and spoiling
     with no obvious downside.

  #### First-past-the-post

  With the exception of Maine, each US state votes *all* its electoral
  votes for *one* presidential candidate. It does not matter how close
  the election is in that state. Consider Florida in 2000. George W.
  Bush won 48.847% of the vote, Al Gore won 48.838%, and Ralph Nader won
  1.635% of the vote. For the sake of simpler numbers, let's say that
  the breakdown was Bush 49%, Gore 48%, Nader 3%.

  Even though Bush beat Gore by only one percentage point, all of
  Florida's 25 electoral votes went to Bush. This happens even though
  fewer than 50% of voters voted for Bush.

  This kind of electoral system is called *first-past-the-post*
  (abbreviated FPTP). In a FPTP system, the winner is the candidate who
  has received the *plurality* of the votes (the greatest number). It
  does not matter whether the winner has received a *majority* of the
  votes (that is, more than 50% of the votes cast).

  #### Wasted Votes, Voter Regret, Spoilers

  We might (cruelly) say that the voters for Nader have "*wasted*" their
  votes. They did not vote for either of the top-two candidates, so the
  Nader voters neither increased nor decreased Bush's margin of victory.
  In a sense, the Nader voters' participation was superfluous to the
  final result of the election.

  Probably most voters for Nader would have preferred that Gore be
  elected over Bush. The Florida voters for Nader may *regret* their
  vote and wish that they had voted for Gore instead.

  If Nader's voters were able to switch their votes to Gore, Gore would
  win 51%-to-49%. Because Nader's candidacy has pulled away enough
  voters from Gore so that he is in second-place (rather than the
  winner), we call Nader a "*spoiler*" candidate.

  I should note: when I write that a vote is "wasted" or that a
  candidate is a "spoiler," I am not trying to be pejorative or
  denigrate the voter or candidate. The point of this essay is that a
  better electoral system would reduce the phenomena of wastage and
  spoiling.

  #### Two-Round Systems

  Some electoral systems try to address the problems of wasting and
  spoiling by using a *two-round* electoral system. Under such a system,
  if no candidate receives a majority of votes in the first round, then
  a *second* round is run. The second round consists of only the top two
  candidates from the first round.

  In our example, neither Bush, Gore, nor Nader received a majority
  (more than 50% of votes). Thus a second round would be run. The top
  two candidates in the first round were Bush and Gore, so they are
  selected for the second round. Presuming that the voters for Nader
  prefer Gore to Bush, they will vote for Gore in the second round. Gore
  will win 51%-to-49%.

  The two-round system tends to reduce "wasted" votes. Every vote in the
  second round either increases or decreases the winner's margin of
  victory -- *no second round vote is wasted*. Effectively, the
  two-round system gives every voter a chance to change their vote to
  one of the top two candidates.

  A single third-party candidate can never act as a spoiler in the
  two-round system, since the potential spoiler is eliminated before the
  final second round. Likewise, when there are exactly three candidates,
  first-round votes for the eliminated candidate are not wasted -- those
  voters get a second chance to vote.

  We will investigate (soon!) what can happen when there are *more* than
  three candidates.

  #### Where Is The Two-Round System Used?

  When electing the president of a country, the two-round system is very
  commonly used. France since the Fifth Republic is the classic example
  of a president being elected this way.

  Most countries do not use single-member legislative districts, so
  neither FPTP nor two-round systems are applicable. In those countries
  with single-member districts, FPTP is the more common option (e.g., in
  the US, UK, Canada). However, France does elect its National Assembly
  members using the two-round system.

  #### The Problem With Two Rounds: France 2002

  The two-round system is not entirely robust to *multiple spoilers*
  when there is a sufficiently strong third party. The best explanation
  is an example.

  Consider the 2002 French presidential election. Most French voters
  were aligned either with the right or the left. However, a significant
  minority of 15%-20% of voters were aligned with Marie Le Pen's far
  right Front National party.

  In the first round, the leading right candidate (Jacques Chirac) won
  ~20% of the vote. A total of ~36% of first round votes were cast for
  Chirac and other right candidates. The leading left candidate (Lionel
  Jospin) won 16.18% of the vote. A total of ~45% of the first round
  votes were cast for Jospin and other left candidates.

  Le Pen won 16.86% of the vote. Thus Le Pen came in second, Jospin in
  third. Jospin was eliminated (along with all other left candidates),
  even though parties of the left (in aggregate) had a significant lead
  over the parties of the right.

  In the second round, Chirac beat Le Pen 82%-to-18%. One campaign
  poster encouraged left voters to vote for Chirac: "Vote for the crook,
  not the fascist."

  #### Diagnosing The Two-Round Problem

  The problem here was that the left had wide but fragmented support.
  Chirac and Le Pen had focused support. The wide variety of left
  candidates split the left vote, spoiling Jospin's ability to advance
  to the second round. If Jospin had advanced to face Chirac
  tête-à-tête, he presumably would have won!

  Our French example demonstrates that the two-round system can *waste
  votes in the first round*. Left voters who voted for anyone other than
  Jospin in the first round "wasted" their vote. Many probably regret
  it. They wish they had voted for Jospin to decrease (to overcome!) his
  first round deficit to Le Pen. They regret not helping Jospin advance
  to the final round.

  Taking a different perspective: it was "premature" for the two-round
  system to assume that left, non-Jospin voters would regret not voting
  for one of the *top two* first-round candidates (Chirac, Le Pen).
  Their true regret was in not voting for the third place candidate
  (Jospin)!

  #### Fixing The Two-Round Problem: More Rounds!

  We've identified the problem with the two-round system. It eliminates
  too many candidates too quickly. To fix things, we need to have *more
  rounds*, each round eliminating *as few* candidates as possible.

  Specifically: we will eliminate candidates one-at-a-time. In our fixed
  system, we will eliminate the bottom-ranked candidate and have voters
  vote again. We will keep repeating until there are only two candidates
  left.

  We know that in the final round, no votes are wasted because there are
  only two candidates remaining. Are votes wasted in earlier rounds? In
  round $k$, imagine that candidate X is eliminated. Voters for any
  other candidate Y did not waste their vote: their vote increased Y's
  margin of victory over eliminated candidate X. Y's voters have helped
  Y not get eliminated.

  Also, the voters for X did not waste their ballot. They were making
  X's deficit as small as possible. Their vote was helping
  (albeit unsuccessfully) keep X in the race.

  It is true that X is eliminated, but X's supporters can always vote
  for any other candidate in the next round. They lost nothing by
  supporting X in round $k$ -- they get another vote in round $k+1$!

  Imagine what would happen if we applied this system to the French 2002
  election. The less popular candidates of the left and right would be
  one-by-one eliminated. As these candidates are eliminated, the vote
  share of the leading candidates (Jospin and Chirac) will rise. Le
  Pen's vote share will never rise appreciably above his initial 16.68%,
  since his support comes only from within the fringe FN party.

  Thus Le Pen would eventually be eliminated in the second-to-last
  round. The final round would be a head-to-head match of Jospin and
  Chirac.

  #### Automating A Multiple-Round System: Instant Runoff Voting

  We know that the two-round system is practical, because nations like
  France use it. But what about our multiple-round variant? If there are
  12 candidates, there will be 11 rounds. Must the electorate come out
  and vote in each of 11 rounds on 11 different days? Could we somehow
  streamline a multiple-round system into just a single event?

  Yes. The simplest solution is this: ask each voter to *rank* all
  candidates on their ballot. In the initial round, we count all the
  first-rank votes. We eliminate the bottom candidate. In our Florida
  example, Nader is eliminated first.

  We now "simulate" a second round. We count votes again, but we treat a
  first-rank Nader supporter's vote as if it were submitted for the
  voter's second-ranked choice. That is: we *transfer* a Nader
  supporter's vote to their second choice. Assuming that Nader voters
  would rank Gore second, then Nader's votes will transfer to Gore in
  the simulated second round.

  Thus, in the simulated second round Gore wins his 48% of first-rank
  votes plus another 3% from Nader supporters' transferred votes. This
  gives Gore his 51%-49% victory over Bush.

  If there had been $N>3$ candidates in our example, we would "simulate"
  more rounds: $N-1$ of them! Note a possible "optimization:" we can
  always stop simulating rounds as soon as a candidate obtains a
  majority of the vote (greater than 50% of the vote). If a candidate
  has more than 50% of the vote in round $k$, then they will have a
  majority in every round subsequent to $k$.

  Methods that ask voters to *rank* candidates are called *ranked
  choice* systems (there are many such systems). The particular ranked
  choice system we've described here is called *instant runoff voting*
  (abbreviated *IRV*).

  #### Where Is Instant Runoff Voting Used?

  Instant runoff voting is the system that is used to elect the mayor of
  San Francisco. It has been used to elect members of the lower house of
  Australia's parliament since 1919! Maine will use IRV in 2020 when it
  votes for president.

  #### Instant Runoff Voting: An Example

  When there are exactly three candidates, instant runoff voting is
  always exactly identical to the two-round system. We've worked the
  Bush/Gore/Nader example already. So let's do a more complicated one!

  Let us say that five candidates run for mayor in San Francisco. Alice
  receives 30% of first-rank votes, Bob receives 25% of first-rank
  votes, Candice receives 20% of first-rank votes, David receives 15% of
  votes, and Eve receives 10% of first-rank votes.

  If San Francisco used the FPTP method, Alice would win. If San
  Francisco used the two-round system, all but Alice and Bob would be
  eliminated. Depending on how first-rank supporters of Candice, David,
  and Eve ranked Alice and Bob, either could candidate could win.

  Using IRV, Eve is eliminated first, because she has received the
  fewest number of first-rank votes. Let's imagine that David's platform
  is very similar to Eve's. Everyone who ranked Eve first has ranked
  David *second*. Thus, after elimination of Eve, all her supporters'
  votes transfer to David. His share of the vote increases to 25%.

  The vote share for Alice/Bob/Candice/David is now 30/25/20/25. Candice
  is the next candidate eliminated. Of her supporters, let us imagine
  that some prefer Alice, others prefer Bob, but that David is most
  popular amongst Candice's supporters. Lets say that Candice's
  supporters split 5/5/10 for Alice/Bob/David.

  Now Alice has 35% of the vote, Bob has 30% of the vote, and David has
  35% of the vote. We eliminate Bob next. Let us say that his votes
  transfer 10% to Alice, and 20% to David. Note that some voters who had
  ranked Candice first and Bob second are having their votes transferred
  a *second time*!

  Now that there are only two candidates remaining, the vote tally in
  the final round is 45% for Alice and 55% for David. David wins!

  #### How Much Would IRV Reduce Spoiling In US Elections?

  We've shown already that the two-round system would have avoided the
  spoiling problem in Florida 2000. The two-round system works well when
  there are only two widely-supported candidates. This is the typical
  case within the US two-party default. IRV is "overkill" when the two
  candidates that get the most first-round votes always go on to the
  final IRV round. If the US were to (somehow) develop stronger
  third-parties, then IRV could be helpful (as demonstrated by the 2002
  French election example).

  It would be nice if voters could vote their conscience in a
  first-round. I think it's undesirable in FPTP that a candidate like
  Nader "shouldn't" run simply because they might spoil another
  candidate's victory.

  On the other hand, I would not want to overdramatize the failure of
  FPTP with respect to spoiling US general elections. Given the
  two-party system that prevails in the United States, voters can easily
  identify the top two general election candidates. To avoid wasting
  their ballot, they can vote for one of the top two candidates, even if
  neither are their true first choice. Voters do this all the time.

  Also: in the American two-party system, third-party candidates are
  marginal enough that they attract relatively few votes. Thus third
  party candidates can "spoil" only elections that were already very
  close. Nader spoiled an election which was basically 49%/49%/2%.

  Imagine that there had been a heavy rainstorm in Jacksonville. Maybe
  Bush voters would have stayed home rather than go out to vote. Bush
  might have lost despite Nader's spoiling. On the other hand: imagine
  that there had been a storm in Miami. If Gore voters had stayed home
  it probably wouldn't matter what Nader voters did.

  When an election is close enough that the outcome it is not robust to
  random but typical events (like a rainstorm), the injustice of getting
  an election "wrong" is less. If there is a Florida 2000 tragedy, I
  think it is that 49% of voters chose to vote for Bush. I hesitate to
  blame FPTP and Nader too much.

  #### Primary Elections In The United States

  General elections in the United States typically consist of only two
  plausible candidates: the Democratic and the Republican nominees.
  *Primary* elections for selection of the nominee, however, are often
  wide-open with support fragmented across many plausible winners.
  Examples include the 2016 Republican presidential primary (9
  candidates won convention delegates) and the 2020 Democratic
  presidential primary (7 candidates won delegates).

  Individual states run their primaries in many different ways. A
  typical way is to award convention delegates *in proportion* to a
  primary candidate's share of the vote. That is, if candidate X wins
  20% of a state's primary vote, then X receives 20% of the state's
  primary delegates. This is (mostly) the way that the Democrats award
  delegates. The major caveat is that Democratic candidates with less
  than 15% of the vote in a state get *no* delegates. This is
  (supposedly) intended to reduce the influence of fringe candidates.
  Delegates are divided proportionally once votes for eliminated
  candidates are disregarded.

  On the Republican side: some state primaries award delegates
  proportionally (often with floor thresholds as in Democratic
  primaries). Other primaries are FPTP *winner-take-all*: the FPTP
  winner of the primary "takes all" the delegates.

  *Winner-take-most* methods are also used in Republican primaries.
  Every state uses its own specific method with its own rules. One
  instructive example is [the system used by Alabama][alabama-rules].
  Alabama allocates three convention delegates for each congressional
  district. Within each congressional district, if candidate X wins >50%
  of the vote *or* is the only candidate to win >20% of the vote, then
  candidate X wins *all* of the district's three delegates. Only if
  there are multiple candidates that win at least 20% of the vote in a
  district are delegates dived amongst candidates.

  In Alabama, Trump won 43% of the statewide primary vote, while Ted
  Cruz won about 21% of the statewide vote. But Cruz's support in many
  individual districts was less than the 20% cutoff. Thus Trump won all
  three delegates in many Alabama congressional districts. This is how
  Trump can receive only 43% of the votes cast in Alabama but still win
  72% of the delegates.

  [alabama-rules]: http://www.thegreenpapers.com/P16/AL-R

  #### Non-Proportionality Incurs Wasted Votes

  We call a result *non-proportional* if a candidate wins a greater
  percentage of delegates than their share of the votes. Winner-take-all
  (whether FPTP or IRV style) is the *most* non-proportional system
  possible. The plurality winner always wins exactly 100% of the
  delegates no matter how low their vote share.

  Winner-take-most systems can also produce very non-proportional
  outcomes in fragmented races, as we've seen in the Alabama example.
  Even so-called proportional allocation can produce a non-proportional
  result if elimination thresholds are high.

  When an electoral system is non-proportional, we've seen that wasted
  votes and spoiling becomes problematic. For instance, Marco Rubio
  received 18% of the vote in Alabama yet won only 2% of the convention
  delegates. If we presume that Rubio supporters wanted to stop Trump
  and would have preferred Cruz, then their votes for Rubio were wasted
  and regrettable. Switching Rubio votes to Cruz would have made a big
  difference in the election outcome because it would have helped Cruz
  avoid the 20% cutoff in many districts.

  The problem is acute because Rubio is so close to the elimination
  threshold. How could Rubio voters have known that he would not meet
  the 20% threshold in most districts? If Rubio voters expected that
  Rubio would surpass the elimination threshold, then they were "right"
  to vote for Rubio. If they expected he would *not* surpass the
  threshold, then they "should" have voted for Cruz.

  In fact, the same difficult calculation must be made by the Cruz
  voters -- Cruz's support also hovered just around the elimination
  threshold. The problem is that without perfect polling, you cannot
  know before an election whether a candidate will be eliminated by the
  elimination threshold.

  In the 2016 Republican primary, ~40% of all delegates were awarded by
  the FPTP winner-take-all and various winner-take-most methods. Given
  his fragmented opposition, winner-take-all and winner-take-most
  systems helped to greatly amplify Trump's delegate count in 2016. It
  is very possible that Trump would not have been selected if
  alternative electoral methods had been used.

  #### Fixing Non-Proportionality In Primary Elections

  Where FPTP winner-take-all is already used, IRV is a clear improvement
  in a fractured landscape. Switching from FPTP winner-take-all to IRV
  winner-take-all might have [flipped some early Trump
  victories][trump-flip] like South Carolina. I see no downside in
  selecting a candidate like Rubio or Cruz if the majority of the
  Republican electorate prefers both of them to Donald Trump.

  [trump-flip]: https://www.fairvote.org/simulating_instant_runoff_flips_most_donald_trump_primary_victories

  It is difficult to analyze post-hoc what could have happened in
  Alabama if a winner-take-all IRV system had been used instead of their
  winner-take-most system. As candidates like Kasich, Carson, and Rubio
  were eliminated, would their votes have transferred to Cruz or to
  Trump? It's quite possible that Trump would have won a majority after
  eliminated candidates' votes were transferred. Winner-take-all IRV
  could have *helped* Trump in Alabama.

  One alternative (amongst many), is to retain the existing
  winner-take-most system, but to have voters rank the candidates.
  Alabama could eliminate candidates below the elimination threshold
  one-at-a-time (IRV style). Votes for an eliminated candidate could be
  transferred to the voter's lower-ranked candidates. You continue the
  elimination/transfer process until all remaining candidates meet the
  threshold. Then you distribute delegates proportionally.

  Under the existing Alabama system, voters for eliminated candidates
  effectively have their votes discarded. That seems ridiculously
  capricious and wasteful. Why not let voters (automatically) change
  their vote to an uneliminated candidate? Doing so would both retain
  the intended proportionality of winner-take-most, while reducing vote
  wastage and spoiling.

  #### Conclusions

  1. Using either a two-round or IRV system for *general* elections
     would reduce the possibility of spoiling. Doing so would be less
     idiosyncratic of the US and more like the rest of the world. This
     change would *usually* have no impact on the final outcome, but
     could be nice in some very close elections like Florida 2000. There
     is no obvious downside.
  1. For general elections, IRV would be better than the
     two-round system if the US were to (somehow) develop a multiparty
     political order (as in France). IRV would prevent the spoiling
     problem seen in France 2002.
  1. Winner-take-all *primaries* should absolutely be replaced by IRV.
     This is a simple change with significant benefits. It would produce
     much fairer outcomes with no downside. Fragmentation, vote wasting,
     and spoiling are common problems in primaries. It doesn't make
     sense that a widely undesired candidate can win their party's
     nomination when a majority of voters want anyone but that person.
  1. Where "proportional" primary systems are encumbered by elimination
     thresholds (as in the Democratic primaries or winner-take-most
     primaries à la Alabama), it seems clear that allowing votes of
     eliminated candidates to transfer IRV-style is the more rational
     and fairer system. This is again a simple change with no obvious
     downside, but a great positive impact.

  #### Future Discussion

  My discussion in this essay has generally taken the political
  landscape for granted. In a future essay, I'd like to focus on how
  changing the electoral system might change the political landscape.
  For instance: would adopting IRV encourage more and stronger
  third-party candidates to run in general elections? Would political
  parties try to pick less alienating candidates if they knew that
  voters would have more general election alternatives? Would IRV vote
  transfers "discover" and elect desirable candidates outside the
  bipolar US political order?

  Many other nations use proportional representation in the national
  legislature. That is: if X% of the population votes for the Green
  Party, the Green Party wins about X% of the seats of the national
  parliament. Is this desirable? What are the pros-and-cons? Can such a
  system discover a path forward that our bipolar order cannot?

  These are all questions I hope to discuss in a future essay!

  #### Further resources

  * The [FairVote][fairvote] organization advocates for ranked choice
    voting in US elections.
  * [The Green Papers][the-green-papers] is a website that documents the
    US primary process and results.

  [fairvote]: https://www.fairvote.org/
  [the-green-papers]: http://www.thegreenpapers.com/

  #### TODOs

  * Why didn't voters focus on one non-Trump candidate in the primaries?
  * Write intro that explains premise of this series of entries.
  * Replace example with the Wikipedia IRV example. Link Wikipedia. Use diagrams.
