p {
  font-family: 'EB Garamond', serif;
  font-size: 14pt;
}
/* Math in a p tag should still be tex font. */
span.math.inline {
  font-family: 'MJXc-TeX-math-I,MJXc-TeX-math-Ix,MJXc-TeX-math-Iw';
}

/* Hides the br that MathJax puts in front of display mode math. */
p br:first-child, p br:last-child {
  display: none;
}

/* The last p tag in a comment card causes an unpleasant bottom
    margin. */
.card-text :last-child {
  margin-bottom: 0;
}

.title a {
  text-decoration: underline;
}

/* Don't change link color for hovering */
.title a:hover {
  color: #007bff;
}
