h1, h2, h3, h4 {
  font-family: 'Baskerville', 'EB Garamond', serif;
  border-bottom: 1px solid black;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-size: 1.75rem;
}

p, ul, ol {
  font-family: 'Baskerville', 'EB Garamond', serif;
  font-size: 1.25rem;
}

/* Math in a p or ul tag should still be Tex font. */
span.math.inline {
  font-family: 'MJXc-TeX-math-I,MJXc-TeX-math-Ix,MJXc-TeX-math-Iw';
}

/* Hides the br that MathJax puts in front of display mode math. */
p br:first-child, p br:last-child {
  display: none;
}

/* The last p tag in a comment card causes an unpleasant bottom
    margin. */
.card-text :last-child {
  margin-bottom: 0;
}

.title {
  border-bottom: unset;
}

.title a {
  text-decoration: underline;
}

/* Don't change link color for hovering */
.title a:hover {
  color: #007bff;
}

.container {
  /* This is the full width of an iPhone X. */
  max-width: 812px;
}
