markdown:
  # #{meta.title}

  Time to try blogging again! You can see the code for the simple setup
  I'm using [here](https://github.com/ruggeri/blog2).

  Here's a quick test of my setup.

  ## Proof that $\sqrt{2}$ is irrational

  Say that $\sqrt{2}$ were rational. Then therefore we must have:

  [[ \\sqrt{2} = \\frac{a}{b} ]]

  We may assume the fraction is in lowest terms. Which means $a, b$ have
  no common factors.

  Now, consider:

  [[ 2 = \\frac{ a^2 }{ b^2 } ]]

  Now, it is not possible that $2$ is a factor of both $a, b$, by our
  lowest terms assumption.