head
  == head_content
  title
    = "self-loop"

body
  div class="container"
    div class="row justify-content-center"
      div class="col-12"
        h2.title.display-2
          a href="/"
            = "self-loop"

    div class="row justify-content-center"
      div class="col-12"
        h1 Entries

        ul
          - published_entries.each do |e|
            li
              a href="./dist/#{e.relative_target_path}"
                = e.meta.publication_time.strftime("%Y-%m-%d") + ": "
                = e.meta.title
